@import url(../libs/bootstrap-5.1.0-dist/css/bootstrap.min.css);

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  user-select: none;
  font-family: Arial;
}

.form-label {
  color: #00000063 !important;
}

.btn.btn-light.t {
  border-color: #fb6d3a;
  background-color: #fb6d3a;
  color: white;
}

.btn.btn-light.t:focus + .btn,
.btn.btn-light.t:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(255 35 0 / 25%);
}
