@import url(../libs/bootstrap-5.1.0-dist/css/bootstrap.min.css);

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  user-select: none;
  font-family: Arial;
}

body {
  overflow: hidden;
}

.form-label {
  color: #00000063 !important;
}

.btn.btn-light.t {
  border-color: #fb6d3a;
  background-color: #fb6d3a;
  color: white;
}

.btn.btn-light.t:focus + .btn,
.btn.btn-light.t:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(255 35 0 / 25%);
}

.table.table-striped thead th {
  color: #00000063 !important;
  border-color: #cecece63 !important;
  white-space: nowrap !important;
}

.from-list {
  overflow-x: scroll !important;
  width: calc(100vw - 524px);
  height: 47vh;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: none;
  background-color: #5b49a9;
  width: 7px;
  height: 5px;
}

.not-brack-text {
  white-space: nowrap !important;
}

.from-list.t {
  width: calc(100vw - 572px);
}

.img-prod {
  border: none !important;
  width: 47px;
  height: 47px;
  border: 2px solid rgba(100, 100, 100, 0.692);
}

.menu-cart .accordion-button {
  color: rebeccapurple !important;
}

.menu-cart .accordion-button[aria-expanded="true"] {
  color: #fb6d3a !important;
}

.menu-cart .accordion-button[aria-expanded="true"] * #flush-headingTwo {
  display: none;
}

.from-list.k {
  height: calc(100vh - 416px) !important;
}
